*{
  scroll-behavior: smooth;
}
.centeredImage {
    display: block;
    margin-left: auto ;
    margin-right: auto;
}
body {
  font-family: 'Lato', sans-serif;
    /* Use a fallback font if the preferred fonts are not available */
    background-color: white;
    line-height: 1.5;
    font-size: larger;
    margin: 3%;
  }
img{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.75);
}
iframe{
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.75);
  border: 0px;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  color: white; /* Text color */
  width: 5%;
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
#myBtn img {
  width: 100%;
}
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
.listBorder{
  border: 1px solid #aaa;
  background-color: #f9f9f9;
  text-align: left;
  display: table;
  width: auto;
  padding: 10px;
  border-radius: 10px;
}
.noBullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.noUnderline {
  text-decoration: none;
}
